/* colours */
:root {
  --c1: red;
  --c2: blue;
  --c3: green;
  --c4: pink;
  --c5: orangered;

  --gradient-1: slategrey;
  --gradient-2: navy;
}
/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  border-radius: 2px;
  margin: 1rem;
  margin-bottom: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: teal;
}
section {
  min-height: 100vh;
  color: black;
  padding-top: 60px;
  text-align: center;
}

#header {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

#header-img {
  margin: 1rem;
  border-radius: 500px;
}

/* navigation bar */

/*-------------- overlay -------------*/
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* initially is 'hidden' */
  transform: translateX(-100vw);
}

/* togle 'visible' when menu clicked */
.overlay-slide-right {
  /* transition: all 0.4s ease-in-out; */
  transform: translateX(0);
}

.overlay-slide-left {
  /* transition: all 0.8s ease-in-out; */
  transform: translateX(-100%);
}
/*-------------- nav menu items -------*/
#header nav,
#header nav ul {
  height: 100vh;
  padding: 0;
  margin: 0;
}
#header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

#header nav ul li {
  height: 20%; /* 20% of the parent,ul, which is 100vh*/
  overflow: hidden;
}

#header nav li a {
  font-family: sans-serif;
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  transition: none;
}

#header nav li a:hover {
  transform: scale(1.2);
}
/* add contente before the link */
#header nav li a::before {
  content: "";
}

#header nav li a:hover::before {
  opacity: 1;
}

/* #home { background-color: var(--c1);} */
#about { background-color: var(--c2);}
#products { background-color: var(--c3);}
#contact { background-color: var(--c4);}
#reviews { background-color: var(--c5);}

/* ******************************************************
                      hero
********************************************************** */
#hero {
  background-image: linear-gradient(90deg,var(--gradient-1), var(--gradient-2));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#hero h1 {
  font-size: 6rem;
  line-height: normal;
}
#hero span {
  display: inline-block;
  font-size: 2rem;
}


/* ******************************************************
                home
********************************************************** */
#home {
  background: whitesmoke;
  padding-top: 70px;
}

/* ******************************************************
                reviews
********************************************************** */
#reviews {
  display: flex;
  flex-direction: column;
}

.review {
    min-height: 200px;
    background: grey;
    margin: 1rem;
}

/* ******************************************************
                contact
********************************************************** */
#contact {
  display: flex;
  flex-direction: column;
}
#form {
  padding: 1rem;
}


/* ******************************************************
                footer
********************************************************** */
#footer {
  background: orangered;
  display: flex;
  flex-direction: column;
}
.logo {
  border-radius: 100px;
  margin: 1rem;
  height: 30px;
}
.footer-navs-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
}
.footer-content {
  display: flex;
}
.footer-nav {
  padding: 1rem;
}
.footer-nav__list {
  list-style: none;
}
.footer-nav__heading {
  color:black;
  font-size: 1.5rem;
}
.footer-nav-link {
  text-decoration: none;
  color: black;
}
.copyright-container {
  text-align: center;
  height: 5rem;
  color: white;
}


/*********************************************************
                          menu bars
  ********************************************************/
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 20;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 8px 0;
  transition: 0.4s;
}
/* rotate firs bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
/* fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}



/**********************************************************
===========================================================
                         media queries
===========================================================
 ***********************************************************/

@media (min-width:600px) {
  html {
    scroll-behavior: smooth;
  }
  .btn:hover {
    cursor: pointer !important;
  }
  body {
    background: red;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    /* background: green; */
    background: black;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 60px;
  }
  /* #logo-link {
    cursor: pointer
  } */
  .menu-bars {
    display: none;
  }

  .slide-out-1,
  .slide-out-2,
  .slide-out-3,
  .slide-out-4,
  .slide-out-5
   {
    animation: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    height: 0px;
    transform: translateX(0);
    background: transparent;
  }

  /* togle 'visible' when menu clicked */
  .overlay-slide-right {
    transition: none;
    transform: none;
  }

  .overlay-slide-left {
    transition: none;
    transform: none;
  }
  #header nav {
    /* position: absolute !important; */
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100%;
  }
  #header nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    /* background: blue; */
    margin-right: 5rem;
  }

  #header nav ul li {
    overflow: hidden;
    margin-right: 1rem;
    display: inline-block;
    height: 60px;
    /* background: green; */

  }

  #header nav li a {
    text-transform: capitalize;
    position: static;
    height: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  #header nav li a:hover {
    transform: none;
    background: yellow;
  }
  /* add contente before the link */
  #header nav li a::before {
    content: "";
  }

  #header nav li a:hover::before {
    display: none;
  }

  /* ******************************************************
                  reviews
  ********************************************************** */
  #reviews {
    /* flex-direction: row; */
  }

  .review {

  }

  /* ******************************************************
                  footer
  ********************************************************** */
  .footer-navs-container {
    flex-direction: row;
    justify-content: space-around;
  }

}
