/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: lightblue; */
}
#header {
  display: inline-flex;
  flex-direction: column;
}
@media (max-width:600px) {
  body {
    background: red;
  }
  #header {
    background: green;
  }
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}


@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
